<form action="/tweets/<%=@tweet.id%>" method="post">
<input type="hidden" name="_method" value="patch">

<label> Edit your Tweet: </label>
<br>
    <input type="text" name="tweet[content]" value="<%= @tweet.content %> ">
<br>
</form>
