
<p> <%= @user.username %> is logged in. </p>
<br>
<br>
<%= @tweet_maker.username %> <p>has tweeted:</p>
<%= @tweet.content %>
<br>

<form method="post" action="/tweets/<%=@tweet.id%>/delete">
  <input type="hidden" name="_method" value="DELETE" />
  <input type="submit" value="Delete Tweet" id="submit" />
</form>
<br>



<a href="/tweets/new">New Tweet!</a>
<br>
<a href="/tweets">See all your own tweets !</a>
<br>
<a href="/all">See all tweets! </a>
<br>
<a href="/logout">Log Out</a>
