<h1>sign up below:</h1>

<form action='/signup' method="post">
  <label>Username: </label>
  <br>
  <input type="text" name="user[username]">
  <label>Email: </label>
  <br>
  <input type="text" name="user[email]">
  <br>
  <label>Password: </label>
  <br>
  <input type="password" name="user[password]">
  <input type="submit" value="Sign Up">
</form>
