<h2>Sign up below:</h2>

<form action='/signup' method="post">
  <br>
  <label>Username: </label>
  <input type="text" name="user[username]" id="username">

  <br>
  <label>Email: </label>
  <input type="text" name="user[email]" id="email">

  <br>
  <label>Password: </label>
  <input type="password" name="user[password]" id="password">

  <br>
  <input type="submit" value="Sign Up"> 
</form>

<h2>Or Log In instead: </h2>
<a href="/login">Log In</a>
